    <div class="AllREC">
      <div class="fatherline">

        <div class="fatherrec1">
      <div class="re12" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
            <div class="re13" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
              <div class="re14" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                <div class="re21" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                  <div class="re22" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                    <div class="re23" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                      <div class="re24" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                        <div class="re31" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                         <div class="re32" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                          <div class="re33" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                           <div class="re34" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                            <div class="re41" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                             <div class="re42" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                               <div class="re43" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                 <div class="re44" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                   <div class="re51" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                     <div class="re52" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                       <div class="re53" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                         <div class="re54" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">

                                         </div>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fatherrec2" v-bind:class="{chosen:isChosen}">
      <div class="re12" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
            <div class="re13" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
              <div class="re14" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                <div class="re21" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                  <div class="re22" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                    <div class="re23" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                      <div class="re24" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                        <div class="re31" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                         <div class="re32" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                          <div class="re33" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                           <div class="re34" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                            <div class="re41" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                             <div class="re42" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                               <div class="re43" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                 <div class="re44" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                   <div class="re51" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                     <div class="re52" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                       <div class="re53" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                         <div class="re54" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">

                                         </div>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fatherrec3">
      <div class="re12" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
            <div class="re13" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
              <div class="re14" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                <div class="re21" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                  <div class="re22" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                    <div class="re23" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                      <div class="re24" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                        <div class="re31" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                         <div class="re32" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                          <div class="re33" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                           <div class="re34" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                            <div class="re41" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                             <div class="re42" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                               <div class="re43" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                 <div class="re44" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                   <div class="re51" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                     <div class="re52" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                       <div class="re53" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                         <div class="re54" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">

                                         </div>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fatherrec4">
      <div class="re12" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
            <div class="re13" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
              <div class="re14" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                <div class="re21" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                  <div class="re22" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                    <div class="re23" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                      <div class="re24" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                        <div class="re31" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                         <div class="re32" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                          <div class="re33" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                           <div class="re34" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                            <div class="re41" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                             <div class="re42" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                               <div class="re43" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                 <div class="re44" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                   <div class="re51" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                     <div class="re52" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                       <div class="re53" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                         <div class="re54" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">

                                         </div>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fatherrec5">
          <div class="re12" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
            <div class="re13" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
              <div class="re14" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                <div class="re21" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                  <div class="re22" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                    <div class="re23" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                      <div class="re24" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                        <div class="re31" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                         <div class="re32" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                          <div class="re33" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                           <div class="re34" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                            <div class="re41" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                             <div class="re42" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                               <div class="re43" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                 <div class="re44" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                   <div class="re51" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                     <div class="re52" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                       <div class="re53" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                         <div class="re54" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">

                                         </div>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fatherrec6">
              <div class="re12" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
            <div class="re13" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
              <div class="re14" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                <div class="re21" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                  <div class="re22" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                    <div class="re23" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                      <div class="re24" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                        <div class="re31" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                         <div class="re32" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                          <div class="re33" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                           <div class="re34" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                            <div class="re41" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                             <div class="re42" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                               <div class="re43" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                 <div class="re44" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                   <div class="re51" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                     <div class="re52" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                       <div class="re53" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                         <div class="re54" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">

                                         </div>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fatherrec7">
               <div class="re12" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
            <div class="re13" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
              <div class="re14" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                <div class="re21" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                  <div class="re22" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                    <div class="re23" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                      <div class="re24" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                        <div class="re31" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                         <div class="re32" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                          <div class="re33" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                           <div class="re34" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                            <div class="re41" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                             <div class="re42" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                               <div class="re43" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                 <div class="re44" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                   <div class="re51" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                     <div class="re52" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                       <div class="re53" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                         <div class="re54" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">

                                         </div>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fatherrec8">
                <div class="re12" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
            <div class="re13" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
              <div class="re14" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                <div class="re21" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                  <div class="re22" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                    <div class="re23" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                      <div class="re24" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                        <div class="re31" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                         <div class="re32" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                          <div class="re33" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                           <div class="re34" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                            <div class="re41" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                             <div class="re42" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                               <div class="re43" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                 <div class="re44" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                   <div class="re51" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                     <div class="re52" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                       <div class="re53" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                         <div class="re54" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">

                                         </div>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fatherrec9">
              <div class="re12" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
            <div class="re13" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
              <div class="re14" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                <div class="re21" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                  <div class="re22" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                    <div class="re23" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                      <div class="re24" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                        <div class="re31" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                         <div class="re32" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                          <div class="re33" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                           <div class="re34" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                            <div class="re41" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                             <div class="re42" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                               <div class="re43" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                 <div class="re44" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                   <div class="re51" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                     <div class="re52" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                       <div class="re53" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">
                                         <div class="re54" v-bind:class="{chosen:isChosen}" v-on:click = "Changecolor">

                                         </div>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fatherrec10">
          <div class="re12">
            <div class="re13">
              <div class="re14">
                <div class="re21">
                  <div class="re22">
                    <div class="re23">
                      <div class="re24">
                        <div class="re31">
                         <div class="re32">
                          <div class="re33">
                           <div class="re34">
                            <div class="re41">
                             <div class="re42">
                               <div class="re43">
                                 <div class="re44">
                                   <div class="re51">
                                     <div class="re52">
                                       <div class="re53">
                                         <div class="re54">

                                         </div>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
