/*白键*/
.rec27{
  position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 204px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec28{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 234px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec29{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 274px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec30{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 314px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec31{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 344px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec32{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 374px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec33{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 414px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec34{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 444px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec35{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 474px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec36{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 514px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec37{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 554px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec38{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 584px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec39{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 614px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec40{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 654px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec41{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 684px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec42{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 714px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec43{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 754px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec44{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 794px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec45{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 824px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec46{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 854px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec47{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 894px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec48{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 924px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec49{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 954px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec50{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 994px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec51{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1034px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec52{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1064px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec53{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 1094px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec54{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1134px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec55{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1164px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec56{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 1194px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec57{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 1234px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec58{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1274px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec59{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1304px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec60{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 1334px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec61{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1374px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec62{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1404px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec63{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 1434px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec64{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 1474px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec65{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1514px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec66{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1544px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec67{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 1574px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec68{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1614px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec69{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1644px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec70{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 1674px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec71{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 1714px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec72{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1754px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec73{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1784px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec74{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 1814px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec75{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1854px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec76{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1884px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec77{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 1914px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec78{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 1954px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec79{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 1994px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec80{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 2024px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec81{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 2054px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec82{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 2094px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec83{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 2124px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec84{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 2154px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec85{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 2194px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec86{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 2234px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}
.rec87{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 2264px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec88{
position: absolute;
width: 150px;
height: 40px;
left: 0px;
top: 2294px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}

.rec89{
position: absolute;
width: 150px;
height: 30px;
left: 0px;
top: 2334px;

background: #FFFFFF;
border: 1px solid #A9A9A9;
box-sizing: border-box;
}









