

.re12 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re13 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re14 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re21 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re22 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re23 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re24 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re31 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re32 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re33 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re34 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re41 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re42 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re43 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re44 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re51 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re52 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re53 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.re54 {
  position: relative;
  width: 70px;
  height: 20px;
  left: 70px;
  background: #39404F;
}

.fatherrec1 {
  position: absolute;
  width: 70px;
  height: 20px;
  left: 154px;
  top: 208px;
  background: #39404F;
}

.fatherrec2 {
  position: absolute;
  width: 70px;
  height: 20px;
  left: 1560px;
  top: 208px;
  background: #39404F;
}

.fatherrec3 {
  position: absolute;
  width: 70px;
  height: 20px;
  left: 2960px;
  top: 208px;
  background: #39404F;
}

.fatherrec4 {
  position: absolute;
  width: 70px;
  height: 20px;
  left: 4360px;
  top: 208px;
  background: #39404F;
}

.fatherrec5 {
  position: absolute;
  width: 70px;
  height: 20px;
  left: 5760px;
  top: 208px;
  background: #39404F;
}

.fatherrec6 {
  position: absolute;
  width: 70px;
  height: 20px;
  left: 7160px;
  top: 208px;
  background: #39404F;
}

.fatherrec7 {
  position: absolute;
  width: 70px;
  height: 20px;
  left: 8560px;
  top: 208px;
  background: #39404F;
}

.fatherrec8 {
  position: absolute;
  width: 70px;
  height: 20px;
  left: 9960px;
  top: 208px;
  background: #39404F;
}

.fatherrec9 {
  position: absolute;
  width: 70px;
  height: 20px;
  left: 11360px;
  top: 208px;
  background: #39404F;
}

.fatherrec10 {
  position: absolute;
  width: 70px;
  height: 20px;
  left: 12760px;
  top: 208px;
  background: #39404F;
}

