.C8{
position: absolute;
width: 22px;
height: 21px;
left: 125px;
top: 420px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #838383;
}
.C7{
position: absolute;
width: 22px;
height: 21px;
left: 125px;
top: 660px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #838383;
}
.C6{
position: absolute;
width: 22px;
height: 21px;
left: 125px;
top: 900px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #838383;
}
.C5{
position: absolute;
width: 22px;
height: 21px;
left: 125px;
top: 1140px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #838383;
}
.C4{
position: absolute;
width: 22px;
height: 21px;
left: 125px;
top: 1380px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #838383;
}
.C3{
position: absolute;
width: 22px;
height: 21px;
left: 125px;
top: 1620px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #838383;
}
.C2{
position: absolute;
width: 22px;
height: 21px;
left: 125px;
top: 1860px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #838383;
}
.C1{
position: absolute;
width: 22px;
height: 21px;
left: 125px;
top: 2100px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #838383;
}
.C0{
position: absolute;
width: 22px;
height: 21px;
left: 125px;
top: 2340px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #838383;
}

