/*黑键*/
.reb100{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 224px;

background: #202020;
}
.reb101{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 264px;

background: #202020;
}
.reb102{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 304px;

background: #202020;
}
.reb103{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 364px;

background: #202020;
}
.reb104{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 404px;

background: #202020;
}
.reb105{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 464px;

background: #202020;
}
.reb106{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 504px;

background: #202020;
}
.reb107{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 544px;

background: #202020;
}
.reb108{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 604px;

background: #202020;
}
.reb109{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 644px;

background: #202020;
}
.reb110{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 704px;

background: #202020;
}
.reb111{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 744px;

background: #202020;
}
.reb112{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 784px;

background: #202020;
}
.reb113{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 844px;

background: #202020;
}
.reb114{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 884px;

background: #202020;
}
.reb115{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 944px;

background: #202020;
}
.reb116{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 984px;

background: #202020;
}
.reb117{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1024px;

background: #202020;
}
.reb118{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1084px;

background: #202020;
}
.reb119{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1124px;

background: #202020;
}
.reb120{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1184px;

background: #202020;
}
.reb121{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1224px;

background: #202020;
}
.reb122{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1264px;

background: #202020;
}
.reb123{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1324px;

background: #202020;
}
.reb124{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1364px;

background: #202020;
}
.reb125{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1424px;

background: #202020;
}
.reb126{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1464px;

background: #202020;
}
.reb127{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1504px;

background: #202020;
}
.reb128{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1564px;

background: #202020;
}
.reb129{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1604px;

background: #202020;
}
.reb130{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1664px;

background: #202020;
}
.reb131{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1704px;

background: #202020;
}
.reb132{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1744px;

background: #202020;
}
.reb133{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1804px;

background: #202020;
}
.reb134{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1844px;

background: #202020;
}
.reb135{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1904px;

background: #202020;
}
.reb136{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1944px;

background: #202020;
}
.reb137{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 1984px;

background: #202020;
}
.reb138{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 2044px;

background: #202020;
}
.reb139{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 2084px;

background: #202020;
}
.reb140{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 2144px;

background: #202020;
}
.reb141{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 2184px;

background: #202020;
}
.reb142{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 2224px;

background: #202020;
}
.reb143{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 2284px;

background: #202020;
}
.reb144{
position: absolute;
width: 100px;
height: 20px;
left: 0px;
top: 2324px;

background: #202020;
}
